table,th,tr,td{
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;
}
table input{
    padding: 10px 20px;
    margin-left: 20px;
}

.delete-container{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    display: none;
}
.update-container{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    display: none;
}
