/*inventory*/
.invTitle, .mtitle{
    position: absolute;
    width: 600;
    height: 50;
    font-size: 40;
    font-weight: 500;
    color: var(--title-color);
    top: 10;
    left: 400;
}

.invContainer {
    position: relative;
    width: 90%; /* Adjusts based on the screen size */
    max-width: 1050px; /* Ensures it doesn't get too wide */
    margin: 20px auto; /* Centers the container and adds space */
    margin-left:400px ;
    background-color: #eaeaea;
    border-radius: 20px;
    padding: 20px;
    margin-top: 110px;
}

.invprod {
    position: relative;
    width: 470; /* Adjusts based on the container width */
    max-width: 970px; /* Ensures it doesn't exceed the container */
    height: 200px;
    border-radius: 20px;
    margin: 20px auto; /* Centers the product div */
    margin-top: 30px;
    display: inline-block;
    margin-left: 30;
    background-color: white;
}

.addbtn{
    position: relative;
    left: 870;
    margin-top: 40;
}
.addbtn2{
    background-color: var(--buttonColor);
    color: var(--button-color);
    width: 130;
    border-radius: 10px;
}
.addbtn2:hover{
    background-color: var(--button-color);
    color: var(--buttonColor);
}
.invimg{
    position: relative;
    background-color: var(--line-in-title);
    width: 200;
    height: 200;
    margin-top: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.invimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.prodtitle{
    position: relative;
    color: #191512;
    margin-top: -190;
    margin-left: 220;
    font-size: 22;
    color: #191512;
    font-weight: 550;
}
.item{
    position: relative;
    color: #191512;
    margin-left: 220;
    margin-top: 0;
}
td{
    font-size: 14;
}
.btndelete{
    position: relative;
    margin-top: -10;
    margin-left: 390;
    background-color: var(--buttonColor);
    color: var(--button-color);
    border-radius: 10px;
    font-size: 12;
}
.btndelete:hover{
    background-color: var(--button-color);
    color: var(--buttonColor);
}