@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

.text-header{
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 20px;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    font-size: 48px;
    
}
.forgotPass-container{
    background-color: #fff;
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.data{
    height: 50px;
    width: 80%;
    margin: 40px auto;
}
/* input */
.data input{
    height: 100%;
    width: 100%;
    font-size: 16px;
    /* border: 1px solid lightgrey ; */
    border-radius: 10px;
    border: 1.5px solid;
}
.forgot-password{
    font-size: large;
    font-family: "Montserrat";
    color:#017449;
    text-decoration: underline;
}
/* button container */
.button-container{
    margin: 30px 0px;
    height: 50px;
}
.recovery-button{
    height: 100%;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
    margin-bottom: 0;
   
}
.recovery-button{
    background-color: #bf6d1b;
    font-size: large;
    font-family: "Montserrat";
    border: none;
    border-radius: 10px;
    color: white;
    transition: all .3s ease;
    border: 2px solid #bf6d1b;
}
.recovery-button:hover{
    transition: all .3s ease;
    color: black;
    background-color: white;
    border: 2px solid #bf6d1b;
}

.back-button{
    height: 100px;
    width: 100px;
    margin: 50px;
   
}
   
.back-button > input{
    padding: 9px 24px;
    cursor: pointer;
}
   

