@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}
.container{
    background-color: #fff;
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    width: 600px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.container h1{
    font-size: 3rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #bc6e19;
    
}
.container p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.container p > span{
    color: red;
}
.container button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.container button {
    padding: 15px 40px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
}